$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #222;
$color-white: #fff; 
$color-black: #111;
$color-black-dark: #333;
$color-grey-light-1: #f7f7f7;
$color-red: red;
$color-black-light: #0c0c0c;   
   